<?xml version="1.0" encoding="utf-8"?>
<manifest package="percolatechallenge.eileenyau.coffee"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="percolatechallenge.eileenyau.coffee.EntryActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.coffeepost.CoffeeActivity"
            android:label="@string/app_name"></activity>
    </application>
    <service
        android:name="com.octo.android.robospice.sample.okhttp.SampleOkHttpSpiceService"
        android:exported="false" />
</manifest>
